<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Zorro</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1>Bienvenido a la página con Zorro</h1>
    <p>¡Aquí tienes una imagen de un zorro!</p>
    <img src="../static/zorro.jpeg" alt="Zorro">
</body>

</html>